body {
    background-color: #EBEBEB;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

#main__content {
    min-height: 85vh;
}

#main__content__dashboard {
    min-height: 85vh;
    max-height: 100vh;
}

.gradient {
    background: linear-gradient(180deg, transparent, #ebebeb);
    bottom: 0;
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#container_image_login {
    display: none;
}

@media ( min-width: 768px ) {
    #container_image_login {
        display: block;
        height: 100vh;
    }    
}

#image_login {
    height: 0vh;
    width: 0%;
    object-fit: none;
}

@media (min-width: 768px) {
    #image_login {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }   
}

/* Sidebar */
.sidebar {
    position: fixed;
    height: 100vh;
    transition: 0.5s all ease-in-out;
}

.content__dashboard {
    transition: 0.5s all ease-in-out;
}

#btn_menu_dashboard:hover {
    background-color: white;
}


/* Dashboard */

/* Companies */
.basic_info_company {
    width: 100%;
}

.description_company {
    width: 100%;
}

.basic_info_company,
.description_company {
    height: fit-content;
    min-width: 10rem;
}

@media (min-width: 992px) {
    .basic_info_company {
        width: 25%;
    }
}

@media ( min-width: 992px ) {
    .description_company {
        width: 75%;
    }
}